<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Edit Page</title>
</head>
<body>

<form action="{% url 'edit_item' item.id %}" method="post">
    {% csrf_token %}
    <table border="1 px solid black">
        <tr><td><b>Hostname:</b></td><td><input name="hostname" type="text" value="{{ item.hostname }}"/><br/><br/></td></tr>
        <tr><td><b>Ip:</b></td><td><input name="ip" type="text" value="{{ item.ip }}"/><br/><br/></td></tr>
        <tr><td><b>Username:</b></td><td><input name="username" type="text" value="{{ item.username }}"/><br/><br/></td></tr>
        <tr><td><b>Password:</b></td><td><input name="password" type="text" value="{{ item.password }}"/><br/><br/></td></tr>
        <tr><td><b>Description:</b></td><td><input name="description" type="text" value="{{ item.description }}"/><br/><br/></td></tr>
        <tr><td colspan="3"><input type="submit" value="Submit"/></td></tr>
    </table>
</form>

</body>
</html>