<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Anasayfa</title>
</head>
<style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }

    th, td {
        padding: 5px;
    }

</style>
<body>

    {% if not items %}
        <h3>Item not found</h3>
    {% else %}
        <table style="width:100%">
            <tr>
                <th>Owner</th>
                <th>Hostname</th>
                <th>Ip</th>
                <th>Username</th>
                <th>Password</th>
                <th>Protocol</th>
                <th>Description</th>
                <th>Operations</th>
            </tr>
        {% for item in items %}
            <tr>
                <td>{{ item.owner }}</td>
                <td>{{ item.hostname }}</td>
                <td>{{ item.ip }}</td>
                <td>{{ item.username }}</td>
                <td>{{ item.password }}</td>
                {% if item.protocol == 1 %}
                    <td>SSH</td>
                {% elif item.protocol == 2 %}
                    <td>RDP</td>
                {% else %}
                    <td>Telnet</td>
                {% endif %}
                <td>{{ item.description }}</td>
                {% if item.owner == user %}
                    <td><a href="{% url 'edit_item' item.id %}">Edit</a> <a href="{% url 'delete_item' item.id %}" onclick="return confirm('Are you sure?')">Delete</a> <a href="{% url 'permission_item_list' item.id %}">Acl</a></td>
                {% else %}
                    <td>Only owner</td>
                {% endif %}
            </tr>

        {% endfor %}
    </table>
    {% endif %}
    <a href="{% url 'new_item' %}">New Item</a>
    <a href="{% url 'logout' %}">Logout</a>
    <b>Hosgeldin {{ user }}</b>
</body>
</html>