<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>New Item</title>
</head>
<body>
<form id="myForm" action="{% url 'new_item' %}" method="post">

    {% csrf_token %}

    <table border="1 px solid black">
        <tr><td><b>Hostname:</b></td><td><input name="hostname" type="text"/><br/><br/></td></tr>
        <tr><td><b>Ip:</b></td><td><input name="ip" type="text"/><br/><br/></td></tr>
        <tr><td><b>Username:</b></td><td><input name="username" type="text"/><br/><br/></td></tr>
        <tr><td><b>Password:</b></td><td><input name="password" type="text"/><br/><br/></td></tr>
        <tr>
            <td><b>Protocol:</b></td>
                <td>
                    <select name="protocol">
                        <option value="1" selected="selected">SSH</option>
                        <option value="2">RDP</option>
                        <option value="3">Telnet</option>
                    </select>
                </td>
        </tr>
        <tr><td><b>Description:</b></td><td><input name="description" type="text"/><br/><br/></td></tr>
        <tr><td colspan="3"><input type="submit" value="Submit"/></td></tr>
    </table>
</form>

</body>
</html>