<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Permission List</title>
</head>
<style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }

    th, td {
        padding: 5px;
    }

</style>
<body>
    <table style="width:100%">
            <tr>
                <th>Username</th>
                <th>Operations</th>
            </tr>
            {% for acl in acls %}
            <tr>
                <td>{{ acl.username }}</td>
                <td><a href="{% url 'permission_item_delete' item.id acl.id %}">Delete</a></td>
            </tr>
            {% endfor %}
    </table>
    <form action="{% url 'permission_item_add' item.id %}" method="POST" id="form">
        {% csrf_token %}
        <select name="user_id">
            {% for user in users %}
                    <option value="{{ user.id }}">{{ user.username }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Submit"/>
    </form>
</body>
</html>